.v-window.v-theme--light.v-carousel{
  position: relative;
  top: -70px;
  z-index: -1;
}

/*Opacity Parallax Image*/
.v-parallax__image {
  filter: grayscale(60%);
  opacity: 5.9;
}

/*Opacity Parallax title*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
