.v-window.v-theme--light.v-carousel {
  /* position: relative;
  top: -70px;
  z-index: -1; */
}

/*Opacity Parallax Image*/
.v-parallax__image {
  filter: grayscale(60%);
  opacity: 5.9;
}

.v-card__text {
  max-height: 100vh;
  overflow-y: scroll;
}

/*Fade Global Effect*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media Queries*/
@media (max-width: 768px) {
  /*title-carrousel*/
  .title-size {
    font-size: 50px !important;
  }
  /*sub-title-carrousel*/
  .sub-title-text {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .title-size {
    font-size: 35px !important;
  }
  .sub-title-text {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .title_logo {
    display: none;
  }
  .title-size {
    font-size: 30px !important;
  }
  .sub-title-text {
    font-size: 15px;
  }
}

@media (max-width: 375px) {}
